:root{

    /* COLORS */

    --bg-color:#09090b;
    --card-bg:#111114;
    --text-color:#f8f8f8;
    --secondary-text:#a0a0aa;
    --accent:#ff7b2c;
    --border:#242428;
    --shadow:
    0 0 0 1px rgba(255,255,255,.03),
    0 10px 35px rgba(0,0,0,.35);

    /* TYPOGRAPHY */

    --font:"Inter",sans-serif;
    --heading-weight:700;
    --body-weight:400;

    /* SPACING */

    --section-padding:120px;
    --container-width:1250px;

    /* BORDER */

    --radius:18px;

    /* ANIMATION */

    --transition:.35s ease;

}