:root{

    /* COLORS */

    --bg-color:#09090b;
    --card-bg:#111114;
    --text-color:#f8f8f8;
    --secondary-text:#a0a0aa;
    --accent:#ff7b2c;
    --border:#242428;
    --shadow:
    0 0 0 1px rgba(255,255,255,.03),
    0 10px 35px rgba(0,0,0,.35);

    /* TYPOGRAPHY */

    --font:"Inter",sans-serif;
    --heading-weight:700;
    --body-weight:400;

    /* SPACING */

    --section-padding: 75px 0;
    --container-width:1250px;

    /* BORDER */

    --radius:10px;

    /* ANIMATION */

    --transition:.3s ;

}

/* Light Theme */

[data-theme="light"]{

    --bg-color:#ffffff;
    --card-bg:#f7f7f7;
    --text-color:#181818;
    --secondary-text:#555555;
    --accent:#ff7b2c;
    --border:#dddddd;

    --shadow:
    0 0 0 1px rgba(0,0,0,.05),
    0 8px 20px rgba(0,0,0,.08);

}