.footer{
    background: var(--bg-color);

    padding-top: 80px;
}

.footer-content{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.footer p{
    color:var(--secondary-text);
    margin:0;
    line-height:1.8;
    font-size:1rem;
}

.footer strong{
    color:#ff7b2c;
    font-weight:700;
    letter-spacing:1px;
}

@media(max-width:768px){
    .footer{
        padding:25px 0;
    }

    .footer p{
        font-size:.95rem;
    }
}