.hero-section{
    min-height:100vh;
    background:#0b0b0d;
    display:flex;
    align-items:center;
    padding-top: 70px;
}

.hero-content{
    max-width:900px;
}

.hero-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ff7b2c;
    letter-spacing:3px;
    font-size:.9rem;
    margin-bottom:25px;
}

.hero-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:4.5rem;
    font-weight:700;
    line-height:1.1;
    margin-bottom:35px;
}

.hero-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    max-width: 850px;
    margin-bottom: 30px;
}

.hero-description{
    display: flec;
    color:#9d9d9d;
    font-size:1.2rem;
    max-width:700px;
    line-height:1.8;
    margin: 0 auto 45px;
    text-align: center;
    justify-content: center;
}

.hero-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top:50px;
}

.primary-btn{
    background:#ff7b2c;
    color:white;
    padding:14px 35px;
    text-decoration:none;
    border-radius:6px;
}

.secondary-btn{
    background:#232327;
    color:white;
    padding:14px 35px;
    text-decoration:none;
    border-radius:6px;
}