.projects-section{
    background: var(--bg-color);
    padding: var(--section-padding);
}

/* Section Heading */

.section-heading.center{
    text-align:center;
    margin-bottom:70px;
}

/* Projects Grid */

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:30px;
}

/* Card */

.project-card{
    background:var(--card-bg);
    border:1px solid var(--border);
    border-radius:10px;
    padding:30px;
    transition:var(--transition);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color:#ff7b2c;
    box-shadow:var(--shadow);
}

/* Text */

.project-year{
    color: #ff7b2c;
    font-size:.9rem;
    letter-spacing:1px;
    font-weight:600;
}

.project-card h3{
    color:whitesmoke;
    margin:15px 0;
    font-size:1.6rem;
    transition:var(--transition);
}

.project-card:hover h3{
    color:#ff7b2c;
}

.tech{
    color:var(--secondary-text);
    font-size:.95rem;
    font-weight:500;
    margin-bottom:20px;
}

.description{
    color:var(--secondary-text);
    line-height:1.8;
    flex-grow:1;
}

/* Buttons */

.project-buttons{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:30px;
}

.project-buttons a{
    color: blue;
    font-weight:600;
    transition:var(--transition);
}

.project-buttons a:hover{
    color:#ff7b2c;
}

/* Tablet */

@media (max-width:992px){
    .projects-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

/* Mobile */

@media (max-width:768px){
    .projects-section{
        padding:80px 0;
    }

    .projects-section .section-title{
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 40px;
    }

    .section-heading.center{
        margin-bottom:50px;
    }

    .projects-grid{
        grid-template-columns:1fr;
        gap:25px;
    }

    .project-card{
        padding:25px;
    }

    .project-card h3{
        font-size:1.4rem;
    }

    .description{
        font-size:.97rem;
    }

    .project-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }
}

/* Small Phones */

@media (max-width:480px){

    .project-card{
        padding:20px;
    }

    .project-card h3{
        font-size:1.25rem;
    }

    .tech{
        font-size:.9rem;
    }

    .description{
        font-size:.95rem;
    }
}